body,
html {
	margin-top: 30px;
	background-color: black;
	color: white;
}

video {
	top: 0;
	left: 0;
	position: absolute;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	opacity: 0.6;
	z-index: 0;
}

.image-box em, 
.links-box, 
footer {
	font-family:'VT323', monospace;
	font-size: 20px;
	text-transform: uppercase;
}

img {
	background-image: linear-gradient(139.84deg, #A692ED 14.35%, #6CECAD 45.6%, #D87EAA 82.79%);
	width: 15vh;
	border-radius: 100px;
	border: 2px solid transparent;
}

a {
	text-decoration: none;
}

footer > a {
	color: black;
}

h5 {
	font-family: 'Square Peg', cursive;
	font-size: 40px;
}

h5, 
footer, 
.image-box, .links-box {
	text-align: center;
	margin-top: 10px;
}

footer {
	font-size: 15px;
	margin-top: 20px;
}

.btn-dark {
	background-color: #715bff;
	border: 1px solid black;
	border-radius: 0;
	padding: 10px;
	width: 50vh;
	opacity: 0.9;
}

.links-box > .btn-dark:hover {
	background-color: white;
	border: 1px solid black;
	color: black;
	animation: pulse 2s;
}

.links-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	position: relative;
	z-index: 1;
}

.modal {
	color: black;
}

.push-right {
	font-family: 'Square Peg', cursive;
	font-size: 30px;
	margin-left: 250px;
}

.cat {
	font-size: 25px;
}

@media screen and (max-width: 900px){
	.btn-dark {
		padding: 5px;
		width: 100%;
	}
	.push-right {
		margin-left: 150px;
	}
	video {
		height: 120vh;
	}
}

